<?xml version="1.0"?>
<launch>

    <arg name="hand_id" default="rh"/>
    <arg name="hand_trajectory" default="true"/>
    <arg name="hand_serial" default="1322"/>

    <arg name="gui" default="true"/>
    <arg name="paused" value="false"/>

    <arg name="debug" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find sim_biotac_motorhand)/robots/sim_biotac_motorhand_ft.urdf.xacro'"/>

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" output="screen" args="-f world -d $(find sim_biotac_motorhand)/launch/touch.rviz"/>

    <param name="/hand/mapping/$(arg hand_serial)" value="$(arg hand_id)"/>
    <param name="/hand/joint_prefix/$(arg hand_serial)" value="$(arg hand_id)_"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" default="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="verbose" default="True"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="world_name" value="$(find sim_biotac_motorhand)/worlds/empty.world"/>
    </include>

    <!--<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model hand -ros_namespace /gazebo -R 1.57079 -Y 1.57079 -z 0.08" respawn="false" output="screen"/>
-->

<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model hand -ros_namespace /gazebo -z 1.0" respawn="false" output="screen"/>


    <rosparam file="$(find sr_description)/hand/config/$(arg hand_id)_controller_gazebo.yaml" command="load"/>

    <rosparam file="$(find sr_description)/hand/config/$(arg hand_id)_effort_controller_gazebo.yaml" command="load"/>

    <node name="$(arg hand_id)_trajectory_controller" pkg="sr_utilities" type="trajectory_controller_spawner.py" output="screen">
        <param name="hand_trajectory" value="$(arg hand_trajectory)"/>
    </node>

    <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch"/>
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher_full_pos">
        <param name="publish_frequency" type="double" value="20.0"/>
    </node>

</launch>
