<?xml version="1.0"?>
<robot
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://www.ros.org/wiki/xacro"
    name="sim_biotac_motorhand_1">

    <xacro:include filename="$(find sr_description)/robots/sr_hand.urdf.xacro"/>
    <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro"/>
    <xacro:shadowhand muscletrans="false" muscle="false" bio="true" bt_sp="false" ubi="false" eli="false" reflect="1.0" prefix="rh_" lf="true"/>

    <link name="world"/>
    <joint name="rh_world_joint" type="fixed">
        <parent link="world"/>
        <child link="rh_forearm"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <gazebo>
        <plugin filename="libsim_biotac.so" name="sim_biotac">
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>

</robot>
